body {
    background-image: url(a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background:url(a.jpg) center center/ 100% 100% no-repeat fixed;
}
p {
    color: #f0f;
}