* {
font-size: 100%;
}
@font-face {
    font-family:'windsong';
    src: url(windsong-webfont.woff);
}
p {
    font-family: 'windsong', verdana, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-style: oblique;/*italic*/
    font-size: 1em;/* 1em equivale a 16px*/
}